/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vh;
  overflow: clip;
  background-color: white;
}

browser {
  width: 100%;
  height: 100%;
}